<template>
<div class="main-container">
  <nav class="navbar navbar-light" style="background: #95cdf0;">
    <a class="navbar-brand" style="color: #ffffff">Analytics App</a>
  </nav>
  <div class="container">
    <div class="loginbox">
      <h1>Авторизация</h1>
      <div v-if="error" class="alert alert-warning" role="alert">
        {{error}}
      </div>
      <form>
        <p>Логин</p>
        <input required type="text" id="inputEmail" name="email" placeholder="Login" v-model="login"/>
        <p>Пароль</p>
        <input required type="password" id="inputPassword" name="password" placeholder="Password" v-model="password"/>
        <input type="button" value="Войти" @click="submit">
        <div class="text-center">
          <router-link to="/signUp" style="color: #000000">Вы еще не зарегистрированы?</router-link>
        </div>
      </form>
    </div>
  </div>
  <nav class="navbar fixed-bottom navbar-expand-sm navbar-light" style="background: #adb1ed"></nav>
</div>
</template>

<script>
import axios from 'axios'
import router from '../router'

export default {
  name: 'Login',
  data: () => ({
    login: '',
    password: '',
    error: ''
  }),
  methods: {
    submit: function () {
      if (!this.login || !this.password) {
        this.error = 'Не введены данные'
        return
      }
      axios
        .post(window.hostname + '/auth/login', {
          login: this.login,
          password: this.password
        })
        .then(response => {
          this.$cookie.set('token', response.data.token)
          router.push({name: 'surveyList'})
        })
        .catch(error => {
          console.log(error.response.data)
          this.error = 'Неверно введен логин/пароль'
        })
    },
    openSignUpPage: function () {
      router.push({name: 'signUp'})
    },
    moveBack: function () {
      window.history.back()
    }
  }
}
</script>

<style type="text/css">
  @import '../assets/styles/signIn.css';
</style>
