<template>
<div class="main-container">
    <a href="/user"></a>
    <nav class="navbar navbar-light" style="background: #95cdf0;">
        <a class="navbar-brand" style="color: #ffffff">Analytics App</a>
        <form class="form-inline">
            <div class="nav-item" @click="moveBack">
                <a class="btn btn-outline-light my-2 my-sm-0">Назад</a>
            </div>
        </form>
    </nav>
    <div class="container">
        <div class="loginbox">
            <h1>Регистрация</h1>
            <div v-if="error" class="alert alert-warning" role="alert">
              {{error}}
            </div>
            <form>
                <p>Логин</p>
                <input type="text" id="inputEmail" required name="email" placeholder="Login" v-model="login"/>
                <p>Пароль</p>
                <input type="password" id="password" required name="password" placeholder="Password" v-model="password">
                <p>Повторите пароль</p>
                <input type="password" id="inputRePassword" required name="rePassword" placeholder="Re-password" v-model="passwordCheck">
                <div class="form-checkbox">
                    <label>
                        <input type="checkbox" id ="checkbox" name="checkbox" required v-model="agreement">
                        <span>Согласие на обработку данных</span>
                    </label>
                </div>
                <input type="button" value="Войти" @click="submit">
            </form>
        </div>
    </div>

    <nav class="navbar fixed-bottom navbar-expand-sm navbar-light" style="background: #adb1ed"></nav>
</div>
</template>

<script>
import axios from 'axios'
import router from '../router'

export default {
  name: 'Registration',
  data: () => ({
    login: '',
    password: '',
    passwordCheck: '',
    error: '',
    agreement: false
  }),
  methods: {
    submit: function () {
      if (!this.login || !this.password || !this.passwordCheck) {
        this.error = 'Введены не все данные'
        return
      }
      if (this.password !== this.passwordCheck) {
        this.error = 'Пароли не совпадают'
        return
      }
      if (this.agreement === false) {
        this.error = 'Для регистрации необходимо согласиться на обработку данных'
        return
      }
      axios
        .post(window.hostname + '/user', {
          login: this.login,
          password: this.password
        })
        .then(response => {
          console.log(response.data)
          router.push({name: 'login'})
        })
        .catch(error => {
          console.log(error.response.data)
          this.error = 'Логин занят'
        })
    },
    openLoginForm: function () {
      router.push({name: 'login'})
    },
    moveBack: function () {
      window.history.back()
    }
  }
}
</script>

<style type="text/css">
  @import '../assets/styles/signIn.css';
</style>
