<template>
<div class="main-container">
    <nav class="navbar navbar-light" style="background: #95cdf0;">
        <a class="navbar-brand" style="color: #ffffff">Analytics App</a>
        <form class="form-inline">
            <div class="row">
                <div class="col-5 text-center">
                    <div class="navbar-brand">
                        <a style="color: #ffffff">{{user.login}}</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="nav-item">
                        <button type="button" @click="logout" class="btn btn-outline-light">Выйти</button>
                    </div>
                </div>
            </div>
        </form>
    </nav>
    <div class="container" v-if="user.role === 'USER'">
        <div class="text-center">
            <h1>Список опросов</h1>
        </div>
        <div>
            <div class="row mb-1" style="padding-top: 10px">
                <div class="col-lg-12 themed-grid-col">
                    <div class="row mb-2" v-for="survey in surveys" :key="survey.id">
                        <div class="col-7 text-left">
                            <h4>{{survey.name}}</h4>
                        </div>
                        <div class="col-3">
                            <h4>{{survey.questions.length}} вопросов</h4>
                        </div>
                        <div class="col-2 text-right">
                            <button type="button" @click="openSurveyPass(survey.id)" class="btn btn-outline-light" style="color: #000000; border-color: #000000;">Пройти</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" v-else-if="user.role === 'ADMIN'">
        <div class="text-center">
            <h1>Список опросов</h1>
        </div>
    <div class="text-left" style="padding: 10px;">
        <router-link to="/surveys/create" style="color: #000000; font-size: 22px;">Добавить опрос</router-link>
    </div>
        <div class="row mb-1">
            <div class="col-lg-12 themed-grid-col">
                <div class="row mb-2" v-for="survey in surveys" :key="survey.id">
                    <div class="col-7 text-left">
                        <h4>{{survey.name}}</h4>
                    </div>
                    <div class="col-3">
                        <h4>{{survey.questions.length}} вопросов</h4>
                    </div>
                    <div class="col-2 text-right">
                        <button type="button" @click="openSurveyInfo(survey.id)" class="btn btn-outline-light" style="color: #000000; border-color: #000000;">Открыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar fixed-bottom navbar-expand-sm navbar-light" style="background: #adb1ed"></nav>
</div>
</template>

<script>
import axios from 'axios'
import router from '../router'
import jwt from 'jsonwebtoken'

export default {
  name: 'SurveyList',
  data: () => ({
    surveys: [],
    user: {
      id: null,
      role: 'USER',
      login: ''
    }
  }),
  components: {
  },
  mounted: function () {
    this.loadUserData()
    this.loadSurveys()
  },
  methods: {
    openLoginForm: function () {
      router.push({name: 'login'})
    },
    openSurveyInfo: function (id) {
      router.push({name: 'surveyInfo', params: {surveyId: id}})
    },
    openSurveyPass: function (id) {
      router.push({name: 'surveyPass', params: {surveyId: id}})
    },
    moveBack: function () {
      window.history.back()
    },
    loadSurveys: function () {
      const token = this.$cookie.get('token')
      if (typeof token !== 'undefined' && token) {
        axios
          .get(window.hostname + '/survey/form', {
            headers: {'Authorization': token}
          })
          .then(response => {
            this.surveys = response.data
          })
          .catch(error => {
            console.log(error.response.data)
          })
      } else {
        this.openLoginForm()
      }
    },
    loadUserData: function () {
      const token = this.$cookie.get('token')
      if (typeof token !== 'undefined' && token) {
        var decoded = jwt.decode(token.slice(7))
        this.user.id = decoded.sub
        this.user.role = decoded.role
        this.user.login = decoded.login
      } else {
        this.openLoginForm()
      }
    },
    logout: function () {
      this.$cookie.delete('token')
      router.push({name: 'login'})
    }
  }
}
</script>

<style type="text/css">
  @import '../assets/styles/grid.css';
</style>
