<template>
<div class="main-container">
    <nav class="navbar navbar-light" style="background: #95cdf0;">
        <a class="navbar-brand" style="color: #ffffff">Analytics App</a>
        <form class="form-inline">
            <div class="row">
                <div class="col-3">
                    <div class="navbar-brand">
                        <a style="color: #ffffff">{{user.login}}</a>
                    </div>
                </div>
                <div class="col-4">
                    <div class="nav-item">
                        <button type="button" @click="moveBack" class="btn btn-outline-light">Назад</button>
                    </div>
                </div>
                <div class="col-3">
                    <div class="nav-item">
                        <button type="button" @click="logout" class="btn btn-outline-light">Выйти</button>
                    </div>
                </div>
            </div>
        </form>
    </nav>

    <div class="container">
        <div class="row" style="padding: 10px; margin-right: 0px ">
            <div class="col-2 text-left" style="padding: 15px;">
                <h4>Опрос</h4>
            </div>
            <div v-if="error" class="alert alert-warning" role="alert">
              {{error}}
            </div>
            <input class="col-10 themed-grid-col" required type="nameSurvey" name="nameSurvey" placeholder="Введите название опроса" v-model="survey.name">
        </div>
        <div>
            <div class="row" style="padding: 10px;" v-for="question in survey.questions" :key="question.header">
                <div class="col-4 text-left">
                    <h5>{{question.header}}</h5>
                </div>
                <div class="col-8 text-right">
                    <a type="delete" @click="deleteQuestion(question.header)" style="color: #dc0000;">Удалить вопрос</a>
                </div>
            </div>
            <div class="row" style="margin-left: 7px; margin-right: 5px ">
                <input class="col-12 themed-grid-col" type="nameSurvey" name="nameSurvey" v-model="currentQuestion.header" placeholder="Введите вопрос">
            </div>
        </div>
        <div class="row" style="padding: 10px;">
            <div class="col-6 text-left">
                <button type='button' @click="saveQuestion" class="btn btn-outline-info" style="color: #000000; border-color:#95cdf0 ">Добавить вопрос</button>
            </div>
            <div class="col-6 text-right">
                <button type='button' @click="submit" class="btn btn-outline-success" style="color: #000000">Сохранить</button>
            </div>
        </div>
    </div>

    <nav class="navbar fixed-bottom navbar-expand-sm navbar-light" style="background: #adb1ed">
    </nav>
</div>
</template>

<script>
import axios from 'axios'
import router from '../router'
import jwt from 'jsonwebtoken'

export default {
  name: 'SurveyCreate',
  data: () => ({
    user: {
      id: null,
      role: 'USER',
      login: ''
    },
    survey: {
      name: '',
      questions: []
    },
    currentQuestion: {
      header: '',
      text: ''
    },
    error: ''
  }),
  mounted: function () {
    this.loadUserData()
  },
  methods: {
    openLoginForm: function () {
      router.push({name: 'login'})
    },
    moveBack: function () {
      window.history.back()
    },
    saveQuestion: function () {
      if (!this.currentQuestion.header) {
        this.error = 'Не введены необходимые для сохранения вопроса данные'
        return
      }
      if (this.error === 'Не введены необходимые для сохранения вопроса данные') {
        this.error = ''
      }
      this.survey.questions.push({
        header: this.currentQuestion.header,
        text: this.currentQuestion.text
      })
      this.currentQuestion.header = ''
      this.currentQuestion.text = ''
    },
    deleteQuestion: function (header) {
      this.survey.questions = this.survey.questions.filter(q => {
        return q.header !== header
      })
    },
    loadUserData: function () {
      const token = this.$cookie.get('token')
      if (typeof token !== 'undefined' && token) {
        var decoded = jwt.decode(token.slice(7))
        this.user.id = decoded.sub
        this.user.role = decoded.role
        this.user.login = decoded.login

        if (this.user.role !== 'ADMIN') {
          router.push({name: 'surveyList'})
        }
      } else {
        this.openLoginForm()
      }
    },
    submit: function () {
      if (!this.survey.name) {
        this.error = 'Необходимо ввести название опроса'
        return
      }

      const token = this.$cookie.get('token')
      if (typeof token !== 'undefined' && token) {
        axios
          .post(window.hostname + '/survey/form', {
            name: this.survey.name,
            questions: this.survey.questions
          }, {
            headers: {'Authorization': token}
          })
          .then(response => {
            console.log(response.data)
            router.push({name: 'surveyList'})
          })
          .catch(error => {
            console.log(error.response.data)
            this.error = 'Какая-то непредвиденная ошибка'
          })
      } else {
        this.openLoginForm()
      }
    },
    logout: function () {
      this.$cookie.delete('token')
      router.push({name: 'login'})
    }
  }
}
</script>

<style type="text/css">
  @import '../assets/styles/grid.css';
</style>
