<template>
<div class="main-container">
    <nav class="navbar navbar-light" style="background: #95cdf0;">
        <a class="navbar-brand" style="color: #ffffff">Analytics App</a>
        <form class="form-inline">
            <div class="row">
                <div class="col-3">
                    <div class="navbar-brand">
                        <a style="color: #ffffff">{{user.login}}</a>
                    </div>
                </div>
                <div class="col-4">
                    <div class="nav-item">
                        <button type="button" @click="moveBack" class="btn btn-outline-light">Назад</button>
                    </div>
                </div>
                <div class="col-3">
                    <div class="nav-item">
                        <button type="button" @click="logout" class="btn btn-outline-light">Выйти</button>
                    </div>
                </div>
            </div>
        </form>
    </nav>

    <div class="container">
        <div class="text-center" style="padding-top: 5px">
            <h2>Опрос "{{survey.name}}"</h2>
        </div>
        <div class="row" style="padding-top: 10px" >
            <div class="col-4 text-left">
                <button type="button" class="btn btn-outline-info" style="color: #000000; border-color:#95cdf0;width: 200px " @click="openStatistics()">Статистика</button>
            </div>
            <div class="col-4 text-center">
                <button type="button" class="btn btn-outline-success" style="color: #000000;width: 200px " @click="openSurveyEdit()">Редактировать</button>
            </div>
            <div class="col-4 text-right">
                <button class="btn btn-outline-danger" @click="$bvModal.show('modal-scoped')" style="color: #000000;width: 200px "> Удалить</button>
            </div>
        </div>
        <div style="font-size: 20px; padding-top: 50px">
            <h3>Вопросы:</h3>
            <ol>
                <li v-for="question in survey.questions" :key="question.id">{{question.header}}</li>
            </ol>
        </div>
    </div>

    <nav class="navbar fixed-bottom navbar-expand-sm navbar-light" style="background: #adb1ed"></nav>

    <b-modal id="modal-scoped" @ok="deleteSurvey()">
      <div class="text-center">
        <h4>Вы уверены,</h4>
        <h5>что хотите удалить опрос?</h5>
      </div>
      <template slot="modal-footer" slot-scope="{ ok, cancel }">
        <b-button variant="danger" @click="ok()">
          Удалить
        </b-button>
        <b-button variant="light" @click="cancel()">
          Отмена
        </b-button>
      </template>
    </b-modal>
</div>
</template>

<script>
import axios from 'axios'
import router from '../router'
import jwt from 'jsonwebtoken'

export default {
  name: 'SurveyInfo',
  data: () => ({
    surveyId: router.currentRoute.params.surveyId,
    user: {
      id: null,
      role: 'USER',
      login: ''
    },
    survey: {}
  }),
  components: {
  },
  mounted: function () {
    this.loadUserData()
    this.loadSurvey()
  },
  methods: {
    openLoginForm: function () {
      router.push({name: 'login'})
    },
    openSurveyEdit: function () {
      router.push({name: 'surveyEdit', params: {surveyId: this.surveyId}})
    },
    openStatistics: function () {
      router.push({name: 'surveyStatistics', params: {surveyId: this.surveyId}})
    },
    moveBack: function () {
      window.history.back()
    },
    deleteSurvey: function () {
      const token = this.$cookie.get('token')
      if (typeof token !== 'undefined' && token) {
        axios
          .delete(window.hostname + '/survey/form/' + this.surveyId, {
            headers: {'Authorization': token}
          })
          .then(response => {
            console.log(response.data)
            router.push({name: 'surveyList'})
          })
          .catch(error => {
            console.log(error.response.data)
          })
      } else {
        this.openLoginForm()
      }
    },
    loadSurvey: function () {
      const token = this.$cookie.get('token')
      if (typeof token !== 'undefined' && token) {
        axios
          .get(window.hostname + '/survey/form/' + this.surveyId, {
            headers: {'Authorization': token}
          })
          .then(response => {
            this.survey = response.data
          })
          .catch(error => {
            console.log(error.response.data)
          })
      } else {
        this.openLoginForm()
      }
    },
    loadUserData: function () {
      const token = this.$cookie.get('token')
      if (typeof token !== 'undefined' && token) {
        var decoded = jwt.decode(token.slice(7))
        this.user.id = decoded.sub
        this.user.role = decoded.role
        this.user.login = decoded.login

        if (this.user.role !== 'ADMIN') {
          router.push({name: 'surveyList'})
        }
      } else {
        this.openLoginForm()
      }
    },
    logout: function () {
      this.$cookie.delete('token')
      router.push({name: 'login'})
    }
  }
}
</script>

<style type="text/css">
  @import '../assets/styles/grid.css';
</style>
