<template>
<div class="main-container">
    <nav class="navbar navbar-light" style="background: #95cdf0;">
        <a class="navbar-brand" style="color: #ffffff">Analytics App</a>
        <form class="form-inline">
            <div class="row">
                <div class="col-3">
                    <div class="navbar-brand">
                        <a style="color: #ffffff">{{user.login}}</a>
                    </div>
                </div>
                <div class="col-4">
                    <div class="nav-item">
                        <button type="button" @click="moveBack" class="btn btn-outline-light">Назад</button>
                    </div>
                </div>
                <div class="col-3">
                    <div class="nav-item">
                        <button type="button" @click="logout" class="btn btn-outline-light">Выйти</button>
                    </div>
                </div>
            </div>
        </form>
    </nav>

    <div class="container">
    <div class="text-center" style="padding-top: 5px">
      <h2>Опрос "{{survey.name}}"</h2>
      </div>
      <div v-if="error" class="alert alert-warning" role="alert">
        {{error}}
      </div>
      <div class="row mb-1" style="padding-bottom: 5px" v-for="question in survey.questions" :key="question.id">
        <div class="text-left" style="padding-bottom: 5px">
          <p>{{question.header}}</p>
        </div>
        <input class="col-lg-12 themed-grid-col" required type="number" name="answer1" v-model="answers[question.id]">
      </div>
      <div class="text-center">
        <div class="col-6 text-right">
            <button type='button' @click="submit" class="btn btn-outline-success" style="color: #000000">Сохранить</button>
        </div>
      </div>
  </div>

    <nav class="navbar fixed-bottom navbar-expand-sm navbar-light" style="background: #adb1ed">
    </nav>
</div>
</template>

<script>
import axios from 'axios'
import router from '../router'
import jwt from 'jsonwebtoken'

export default {
  name: 'SurveyPass',
  data: () => ({
    user: {
      id: null,
      role: 'USER',
      login: ''
    },
    survey: {
      name: null,
      questions: []
    },
    answers: {},
    currentQuestion: {
      header: '',
      text: ''
    },
    error: '',
    surveyId: router.currentRoute.params.surveyId
  }),
  components: {
  },
  mounted: function () {
    this.loadUserData()
    this.loadSurvey()
    this.initAnswerMap()
  },
  methods: {
    openLoginForm: function () {
      router.push({name: 'login'})
    },
    moveBack: function () {
      window.history.back()
    },
    loadSurvey: function () {
      const token = this.$cookie.get('token')
      if (typeof token !== 'undefined' && token) {
        axios
          .get(window.hostname + '/survey/form/' + this.surveyId, {
            headers: {'Authorization': token}
          })
          .then(response => {
            this.survey = response.data
          })
          .catch(error => {
            console.log(error.response.data)
          })
      } else {
        this.openLoginForm()
      }
    },
    initAnswerMap: function () {
      this.survey.questions.forEach(question => {
        this.answers.put(question.id, null)
      })
    },
    loadUserData: function () {
      const token = this.$cookie.get('token')
      if (typeof token !== 'undefined' && token) {
        var decoded = jwt.decode(token.slice(7))
        this.user.id = decoded.sub
        this.user.role = decoded.role
        this.user.login = decoded.login
      } else {
        this.openLoginForm()
      }
    },
    submit: function () {
      const token = this.$cookie.get('token')
      let interactions = []

      let areQuestionsAnswered = true

      for (var property in this.answers) {
        if (this.answers.hasOwnProperty(property)) {
          interactions.push({
            questionId: property,
            answer: this.answers[property]
          })
        }
      }

      interactions.forEach(i => {
        console.log(i.answer)
        if (typeof i.answer === 'undefined' || !i.answer || Number(i.answer) === 'NaN') {
          this.error = 'Не все поля заполнены или заполнены неверно'
          areQuestionsAnswered = false
        }
      })

      if (interactions.length < this.survey.questions.length) {
        this.error = 'Не все поля заполнены или заполнены неверно'
        areQuestionsAnswered = false
      }

      if (areQuestionsAnswered) {
        this.error = ''
      } else {
        return
      }

      if (typeof token !== 'undefined' && token) {
        axios
          .post(window.hostname + '/survey/result', {
            formId: this.surveyId,
            userId: this.user.id,
            interactions: interactions
          }, {
            headers: {'Authorization': token}
          })
          .then(response => {
            console.log(response.data)
            router.push({name: 'surveyList'})
          })
          .catch(error => {
            console.log(error.response.data)
            this.error = 'Данные введены неверно'
          })
      } else {
        this.openLoginForm()
      }
    },
    logout: function () {
      this.$cookie.delete('token')
      router.push({name: 'login'})
    }
  }
}
</script>

<style type="text/css">
  @import '../assets/styles/grid.css';
</style>
