<template>
<div class="main-container">
    <nav class="navbar navbar-light" style="background: #95cdf0;">
        <a class="navbar-brand" style="color: #ffffff">Analytics App</a>
        <form class="form-inline">
            <div class="row">
                <div class="col-3">
                    <div class="navbar-brand">
                        <a style="color: #ffffff">{{user.login}}</a>
                    </div>
                </div>
                <div class="col-4">
                    <div class="nav-item">
                        <button type="button" @click="moveBack" class="btn btn-outline-light">Назад</button>
                    </div>
                </div>
                <div class="col-3">
                    <div class="nav-item">
                        <button type="button" @click="logout" class="btn btn-outline-light">Выйти</button>
                    </div>
                </div>
            </div>
        </form>
    </nav>

    <div class="container">
        <div class="text-center" style="padding: 5px">
            <h1 id="name">{{survey.name}}</h1>
        </div>
        <div class="text-left" style="padding-bottom: 5px">
            <h4>Введите временной промежуток</h4>
        </div>
        <div>
            <div class="row" style="padding-bottom: 30px">
                <div class="col-1 text-center" style="font-size: 20px">
                    <label>От</label>
                </div>
                <div class="col-2">
                    <input class="text-center" type="date" name="date1" v-model="dateAfter">
                </div>
                <div class="col-1 text-center"  style="font-size: 20px">
                    <label>до</label>
                </div>
                <div class="col-2">
                    <input class="text-center" type="date" name="date2" v-model="dateBefore">
                </div>
            </div>
        </div>
        <div class="text-left" style="padding-bottom: 10px">
            <h4>Cтатистика:</h4>
        </div>
        <div v-for="elem in stats.statistics" :key="elem.question.id">
            <div class="text-left">
                <h5 id="nameQuestion">{{elem.question.header}}:</h5>
            </div>
            <div class="text-left" style="margin-left: 10px; ">
                <table class="zui-table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Сумма</th>
                            <th scope="col">Среднее арифметическое</th>
                            <th scope="col">Максимум</th>
                            <th scope="col">Минимум</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{elem.sum}}</td>
                            <td>{{elem.averageValue}}</td>
                            <td>{{elem.max}}</td>
                            <td>{{elem.min}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <nav class="navbar fixed-bottom navbar-expand-sm navbar-light" style="background: #adb1ed"></nav>
</div>
</template>

<script>
import axios from 'axios'
import router from '../router'
import jwt from 'jsonwebtoken'
import _ from 'lodash'

export default {
  name: 'SurveyStatistics',
  data: () => ({
    dateAfter: '',
    dateBefore: '',
    surveyId: router.currentRoute.params.surveyId,
    user: {
      id: null,
      role: 'USER',
      login: ''
    },
    survey: {},
    stats: {}
  }),
  watch: {
    dateAfter: function (newDate, oldDate) {
      this.debouncedLoadStatistics()
    },
    dateBefore: function (newDate, oldDate) {
      this.debouncedLoadStatistics()
    }
  },
  created: function () {
    this.debouncedLoadStatistics = _.debounce(this.loadStatistics, 200)
  },
  mounted: function () {
    this.loadUserData()
    this.loadSurvey()
  },
  methods: {
    moveBack: function () {
      window.history.back()
    },
    getLong: function (date) {
      return new Date(date).getTime() / 1000
    },
    loadStatistics: function () {
      if (typeof this.dateAfter === 'undefined' || typeof this.dateBefore === 'undefined' || !this.dateAfter || !this.dateBefore) {
        return
      }
      const longDateAfter = this.getLong(this.dateAfter)
      const longDateBefore = this.getLong(this.dateBefore)

      const token = this.$cookie.get('token')
      if (typeof token !== 'undefined' && token) {
        axios
          .get(window.hostname + '/statistics/form/' + this.surveyId + '/after/' + longDateAfter + '/before/' + longDateBefore, {
            headers: {'Authorization': token}
          })
          .then(response => {
            console.log(response.data)
            this.stats = response.data
          })
          .catch(error => {
            console.log(error.response.data)
          })
      } else {
        this.openLoginForm()
      }
    },
    loadSurvey: function () {
      const token = this.$cookie.get('token')
      if (typeof token !== 'undefined' && token) {
        axios
          .get(window.hostname + '/survey/form/' + this.surveyId, {
            headers: {'Authorization': token}
          })
          .then(response => {
            this.survey = response.data
          })
          .catch(error => {
            console.log(error.response.data)
          })
      } else {
        this.openLoginForm()
      }
    },
    loadUserData: function () {
      const token = this.$cookie.get('token')
      if (typeof token !== 'undefined' && token) {
        var decoded = jwt.decode(token.slice(7))
        this.user.id = decoded.sub
        this.user.role = decoded.role
        this.user.login = decoded.login

        if (this.user.role !== 'ADMIN') {
          router.push({name: 'surveyList'})
        }
      } else {
        this.openLoginForm()
      }
    },
    logout: function () {
      this.$cookie.delete('token')
      router.push({name: 'login'})
    }
  }
}
</script>

<style type="text/css">
  @import '../assets/styles/grid.css';
</style>
