<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>

window.hostname = 'http://localhost:8080'

export default {
  name: 'App'
}
</script>

<style>
#app {
  /* font-weight: 900; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* color: #65D0DA; */
}
</style>
